export FLYWAY_PASSWORD=P@ssw0rd!
export FLYWAY_URL=jdbc:postgresql://172.17.0.2:5432/national_parks
export FLYWAY_USER=postgres

export DB_HOST=172.17.0.2
export DB_PORT=5432
export DB_USERNAME=postgres
export DB_PASSWORD=P@ssw0rd!
export DB_DB=national_parks
